@mixin mobile {
  @media screen and (max-width: 47.9375rem) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width:48rem) and (max-width: 61.9375rem) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 62rem) and (max-width: 118.75rem) {
    @content;
  }
}

@mixin xldesktop {
  @media screen and (min-width: 118.75rem) {
    @content;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #000 !important;
  text-decoration: none !important;
  &:hover {
    color: #000 !important;
  }
}
.scrool_animate {
    transition: all 1.5s;
    transform: translateX(-100%);
}
.scrool_animate_img {
  transition: all 1.5s;
  transform: translateY(-30%);
  opacity: .3;
} 
.animate_img {
  transform: translateY(0);
  opacity: 1;

} 
.animate {
  transform: translateX(-50%);
  position: relative;
  left: 60%;
  @include tablet{
  left: 53%;
  }
  @include mobile{
    left: 53%;
  }
}
.logo_text{
  font-size: 25px;
  font-weight: 800;
  font-family: cursive;
}
.logo_fixed_size{
  max-width: 80px;
}
.nav_link {
  font-size: 18px;
  font-weight: 800;
}
.show_navbar_mobile{
  transition: all .7s;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #eee;
  height: 100%;
  z-index: 2;
  animation: navbar123 .7s alternate;
}
.slider_title{
  font-size: 50px;
  font-weight: 800;
  @include tablet{
  font-size: 35px;
  }
  @include mobile{
    font-size: 25px;
  }
}
.button_slider{
  background-color: rgb(89, 0, 255);
  border-radius: 100px;
  font-size: 40px;
  transition: all .4s;
  color: rgb(255, 255, 255) !important;
  &:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(86, 46, 162);
  }
  @include tablet{
  font-size: 30px;
  }
  @include mobile{
    font-size: 20px;
    }
}
.slider_image{
  width: 500px;
  @include tablet{
    width: 400px;
  }
  @include mobile{
    width: 300px;
  }
}

@keyframes navbar123 {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}
